<div class="card">
    <div class="card-header bg-info"> Product List</div>
    <div class="card-body">

      <form method="get">
       <button type="submit" formaction="category-form" class="add-btn btn btn-primary">
        <i class="fa fa-plus"></i> Add Category</button>
  </form>
  <table class="table" id="category-list">
    <thead>
    <tr>
      <th>Category Id</th>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
<ng-container *ngIf="categories.length > 0"> 
<tr *ngFor="let cat of categories">
      <td>{{cat.categoryId}}</td>
      <td>{{cat.categoryName}}</td>
      <td>{{cat.description}}</td>
      <td><a href="#">
        <i class="fa fa-pencil text-info"></i>
      </a>&nbsp;&nbsp;
      <a href="#">

        <i class="fa fa-trash text-danger"></i>
      </a>
      </td> 
  </tr>
</ng-container>

<ng-container *ngIf="categories.length === 0">
  <tr>
    <td colspan="5">No Data Found</td>
  </tr>
</ng-container>
    </tbody>
  </table>
    </div>
  </div>