<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid">
       
        <a href="index.html" class="navbar-brand">Inventory Management</a>

      
    </div>
  </nav>

  <br>
  <div>
    <div class="row">
      <div class="col-2">
   
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action">Product</a>
          
          <a href="category-list.html" class="list-group-item list-group-item-action">Categories</a>
          <a href="index.html" class="list-group-item list-group-item-action">Users</a>
          <a href="index.html" class="list-group-item list-group-item-action">Customer</a>
          <a href="index.html" class="list-group-item list-group-item-action">Orders</a>
        </div>
  
  
      </div>
      <div class="col-10">
        <!--
        <input [(ngModel)]="title">
        <button (click)="action('show')">Show</button>
        <button (click)="action('hide')">Hide</button>
        <ng-container *ngIf="show">
         <my-grid [columns]="column" [data]="data"></my-grid>
      </ng-container>
    -->
    <!--
    <my-grid [columns]="column" [data]="data" title="Categories"></my-grid>
    <my-grid [columns]="stdCol" [data]="stdData" title="Students"></my-grid>
    <my-grid [columns]="['User Name', 'User Loccation', 'User Role']"   title="Users"></my-grid>
    -->
    <category-list title="Categories"></category-list>
    <!--
      Service
      let i: Abc = new new Abc
      Dependency Injecion
      Singlton 
    -->
      </div>
    </div>
  </div>