  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid">
       
        <a class="navbar-brand">Inventory Management</a>

      
    </div>
  </nav>

  <br>
  <div>
    <div class="row">
      <div class="col-2">
   
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action">Product</a>
          
          <a href="category-list.html" class="list-group-item list-group-item-action">Categories</a>
          <a href="index.html" class="list-group-item list-group-item-action">Users</a>
          <a href="index.html" class="list-group-item list-group-item-action">Customer</a>
          <a href="index.html" class="list-group-item list-group-item-action">Orders</a>
        </div>
  
  
      </div>
      <div class="col-10">
      
           
      <category-list></category-list>
      </div>
    </div>
  </div>